#nav {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;




}

.imgContainer  h1{
    text-decoration: none;
      font-family: "Sofadi One", system-ui;      
      color: aliceblue;
   
}
imgContainer h a {
    text-decoration: none;
    color: white;
   

}
.logos a{
    text-decoration: none;
    color: aliceblue;
    opacity: 0.5;
}
logos h1 {
    text-decoration: none;
    color: white;
   
}
header a {
    text-decoration: none;
    color: aliceblue;
    opacity: 0.5;
}

.h1Contact{
    color: aliceblue;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}


.lead p{
    color:black;
     font-size: 1.5rem;
}
.textOfContact p{
    color: #000;
    font-size: 1.5rem;
}
ul a {
    color: aliceblue;
    text-decoration: none;

}

.navbar .navbar-expand-lg .navbar-dark li a {
    outline: none;
   

}

body {
    background-color: #000;

    height: 100%;
}


.gradientContent p{


}

.logo img {
    align-items: center;
}

.PTextoJoselin {
    display: flex;
    justify-content: flex-start;
    flex: 2;
}

.containerLower {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

#imgContainerMain {
    flex: 2;
}

.PdeTexto {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textOfContact h1{
    display: flex;
    align-items: center;
    justify-content: center;


}
.textOfContact p{
    display: flex;
    align-items: center;
    justify-content: center;

}
.iconJose{
     display: flex;
    align-items: center;
    justify-content: center;
}
.iconJose a{
    color:black;
    text-decoration: none;

}
.iconJose i{
    
}
p{
    font-family: "Times New Roman", Times, serif;
     color: aliceblue;
    text-decoration: none;

}
h1{
    font-family: "Times New Roman", Times, serif;
}
nav a{
    color: #000;
}
main{
    background: radial-gradient(circle, rgba(255,114,177,1) 0%, rgba(252,70,107,0.6124650543811274) 100%);
}
a{  color: aliceblue;
    text-decoration: none;
    


}
