.gradientContent {
   


}#nav {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;




}

.logo {}

ul a {
    color: aliceblue;
    text-decoration: none;

}

.navbar .navbar-expand-lg .navbar-dark li a {
    outline: none;
    color: aqua;

}

body {
    background-color: #000;
}