#nav {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 0;




}
li a{
    color: black;
}

.hovering a:hover{
background-color: #000;
}
.imgContainer  a{ 
    text-decoration: none;
     color: black;
}

.tittle {
    color: black;

}

.tittle h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul a {
    color: #000;
    text-decoration: none;

}

.navbar .navbar-expand-lg .navbar-dark li a {
    outline: none;


}

body {
    background-color: #000;
     margin: 0;
  
  

}
.navbar{
    font-family: "Sofadi One", system-ui;
}



.logo img {
    align-items: center;
}

.PTextoJoselin {
    display: flex;
    justify-content: flex-start;
    flex: 2;
}

.PdeTexto {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}


p {
    font-family: "Times New Roman", Times, serif;
}

h4 {
    font-family: "Times New Roman", Times, serif;
    color: #FEFEFA;
}


nav a {
    color: #000;
}

.PTextoJoselin p {
   
    color: black;
    
}
.imgContainer  h1{
      font-family: "Sofadi One", system-ui;
      text-decoration: none;
      color: #FEFEFA;
   
}

.imgContainer a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
    
}
.imgContainer h1{
    text-decoration: none;
    
   
   
}
.logos a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}
.kuromiWasHere{
    text-decoration: none;
}
.footer p{
      color: aliceblue;
   
}

main{
    background: radial-gradient(circle, rgba(255,114,177,1) 0%, rgba(252,70,107,0.6124650543811274) 100%);
}
